

.col-3 {
            height: 100%;
            width: 250px;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #f1f4fa;
            padding-top: 20px;
            text-shadow: 1px 1px 4px grey;
            color: #4a708f;
            font-size: 12px;

}

.col-31 {
    
    width: 40px;
    background-color: #f1f4fa;
    text-shadow: 1px 1px 4px grey;
    color: #4a708f;
    
}

.col-32 {
    
    width: 125px;
    background-color: #f1f4fa;
    text-shadow: 1px 1px 4px grey;
    color: #4a708f;
}

.col-33 {
    
    width: 45px;
    background-color: #f1f4fa;
    text-shadow: 1px 1px 4px grey;
    color: #4a708f;
    
}

.col-9 {
            height: 100%;
            position: fixed;
            top: 0;
            left: 250px;
            right: 0;
            background-color: #ffffff;
            padding-top: 20px;
            padding-left: 10px;
            text-shadow: 1px 1px 4px grey;
}


table, th, td {
   
  border-bottom: 1px solid gray; 
  font-size: 12px;
  padding-left: 10px;
}

.col-2 {
    border-bottom: 1px solid grey;
}

.col-8-background {
    border-bottom: 1px solid grey;
    background-color: aqua;
}
.col-4-background {
    border-bottom: 1px solid grey;
    background-color: aqua;
}
.col-4 {
    text-align: right;
}

.testrelease {
   
    background-color: black;
    text-align: center;
    color: #f1f4fa;
    width: fit-content;
    border-radius: 5px;
}

.testreassign {
    border: 1px solid grey;
    text-align: center;
    width: fit-content;
    border-radius: 5px;
}

.status {
    
    background-color: #a5f3fc;
    text-align: center;
    color: #1b9dbb;
    width: fit-content;
    border-radius: 5px;
}
.statusRefund {
    
    background-color: #fef08a;
    text-align: center;
    color: #d09615;
    width: fit-content;
    border-radius: 5px;
}
.time {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 14px;
}

.col-4 button {
    border-style: none;
     background-image: none;
     background-color: #f1f4fa;
    
}

img {
    width: 100px;
    height: 60px;
    padding-left: 5px;
}

.img1 {
    width: 30px;
    height: 25px;
    padding-bottom: 5px;
    padding-left: 5px;
    align-items: right;
}

.img2 {
    width: 30px;
    height: 30px;
    background-color: white;

}

.img3 {
    width: 200px;
    height: 50px;
    
}

.img2 button {
    color: #f1f4fa;
}

.satu {
    padding-left: 15px;
}

.testlink {
    text-decoration: none;
    color: grey;
}